<head>
  <meta charset="UTF-8">
  <title>About Us - Videojuegos Online</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
</head>
<body class="bg-orange-300">

  <section class="py-10 lg:py-20 flex justify-center items-center">
    <div class="container mx-auto bg-orange-500">
      <div class="relative py-20 lg:py-32">
        <div class="absolute inset-0 flex flex-col justify-center items-center">
          <h2 class="text-5xl lg:text-6xl font-bold text-white mb-8">Acerca de nosotros</h2>
          <p class="text-white text-center max-w-3xl lg:text-2xl">Videojuegos Online es una página web dedicada a ofrecer los mejores videojuegos en línea. Nuestro objetivo es proporcionar una experiencia de juego inolvidable a nuestros usuarios. Contamos con una amplia variedad de juegos de diferentes géneros y para todas las edades. Además, nuestra plataforma es fácil de usar y completamente segura.</p>
          <p class="text-white mt-8 text-lg">¡Únete a nuestra comunidad de jugadores y comienza a disfrutar de nuestros increíbles juegos hoy mismo!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-orange-200 py-16 flex justify-center">
    <div class="container mx-auto">

      <h2 class="text-5xl lg:text-6xl font-bold mb-8 text-center">Nuestro equipo</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        <div class="flex flex-col justify-center items-center">
          <img src="https://via.placeholder.com/200x200" alt="Foto de perfil de equipo" class="rounded-full w-52 mb-6">
          <h3 class="text-4xl lg:text-5xl font-bold mb-3">Luis Lorca</h3>
          <p class="text-orange-700 mb-2">Desarrollador Web</p>
          <p class="text-orange-500 font-bold">Email: luislorcaruaa@gmail.com</p>
        </div>
        <div class="flex flex-col justify-center items-center">
          <img src="https://via.placeholder.com/200x200" alt="Foto de perfil de equipo" class="rounded-full w-52 mb-6">
          <h3 class="text-4xl lg:text-5xl font-bold mb-3">Pedro Gil</h3>
          <p class="text-orange-700 mb-2">Desarrollador Web</p>
          <p class="text-orange-500 font-bold">Email: pgilperez.12.pgp@gmail.com</p>
        </div>
        <div class="flex flex-col justify-center items-center">
          <img src="https://via.placeholder.com/200x200" alt="Foto de perfil de equipo" class="rounded-full w-52 mb-6">
          <h3 class="text-4xl lg:text-5xl font-bold mb-3">Adrián Aguilar</h3>
          <p class="text-orange-700 mb-2">Desarrollador Web</p>
          <p class="text-orange-500 font-bold">Email: adritrivi41@gmail.com</p>
        </div>
      </div>
    </div>
  </section>

 <app-footer></app-footer>

</body>
