<div class="flex justify-center items-center">
    <div class="relative">
  
      <input #filterSearch id="inputSearch" class="pr-4 py-2 pl-10 rounded-full outline-none border border-gray-400 {{ estilo }}" autocomplete=off (input)="onSearchTerm( filterSearch.value )" [placeholder]="placeholder">
  
      <div class="absolute inset-y-0 left-0 flex items-center pl-3">
        <svg class="w-5 h-5 text-orange-400 absolute" viewBox="0 0 24 24" fill="none" stroke="currentColor">
          <path d="M21 21L15.5 15.5M15.5 15.5C17.1569 13.8431 18 11.5786 18 9C18 4.58172 14.4183 1 10 1C5.58172 1 2 4.58172 2 9C2 13.4183 5.58172 17 10 17C12.5786 17 14.8431 16.1569 16.5 14.5L21 19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>

    </div>
  </div>