
.menu-icon {
    transition: transform 0.3s ease-in-out;
}
.menu-icon.open {
    transform: rotate(180deg);
}


$logo-size: 90px;



.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: auto;
    width: $logo-size;
    margin-right: auto;
}