<div class="container-fluid h-100 p-5">
  <div class="row h-100">
    <div class="col-12 p-0 overflow-auto" style="max-height: 80vh;">
      <div class="card w-100">
        <div class="card-header">
          <input class="fs-5 fw-semibold" [(ngModel)]="username"/>
          <input class="fs-5 fw-semibold" [(ngModel)]="chatId"/>
        </div>
        <ul class="list-group list-group-flush">
            <div *ngFor="let msg of messages"
                 class="list-group-item list-group-item-action py-3 lh-tight">
              <strong class="mb-1">{{ msg.user_id | username | async }}</strong>
              <div class="col-10 mb-1 small">{{ msg.message }}</div>
            </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="row fixed-bottom p-5">
    <div class="col-12">
      <form class="input-group mb-3" (submit)="submit()">
        <input type="text" class="form-control" name="message" placeholder="Escribe tu mensaje aquí" [(ngModel)]="msg" autocomplete="off">
        <div class="input-group-append">
          <button class="btn btn-primary" id="send-button">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
