
<div class="flex flex-col items-center justify-center h-screen bg-gray-50">
  <form (submit)="submit()"
        class="w-full max-w-md bg-white shadow-md rounded px-8 py-6">
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="name">
        Nombre
      </label>
      <input
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="name" name="name" type="text" required [(ngModel)]="name"
        placeholder="Escribe tu nombre completo">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="username">
        Nombre de usuario
      </label>
      <input
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username" name="username" type="text" required [(ngModel)]="username"
        placeholder="Escribe tu nombre de usuario">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="email">
        Correo electrónico
      </label>
      <input
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email" name="email" type="email" required [(ngModel)]="email"
        placeholder="Escribe tu correo electrónico">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 font-bold mb-2" for="password">
        Contraseña
      </label>
      <input
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="password" name="password" type="password" required [(ngModel)]="password"
        placeholder="Escribe tu contraseña">
    </div>
    <div class="flex items-center justify-center">
      <button
        class="bg-orange-600 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Registrarse
      </button>
    </div>
  </form>
</div>
