<div class="px-6 py-4">
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <li *ngFor="let game of (games$ | async)" routerLink="{{game.id}}" class="shadow-md rounded-md overflow-hidden transition-all hover:bg-gray-200 hover:scale-95 hover:border-gray-500 hover:border">
            <img src="{{ game.background_image }}" alt="" class="w-full h-48 object-cover">
            <div class="px-4 py-2">
                <h3 class="font-medium text-lg mb-2">{{ game.name }}</h3>
                <p class="text-orange-500 font-medium flex items-center">{{ game.rating }}/{{ game.rating_top }} <img src="assets\ratings\icons8-pixel-star-48.png" alt="" width="16px" height="16px" class="ml-1"> </p> 
                <div class="flex gap-3">
                    <p *ngFor="let genero of game.genres" class="px-3  rounded-xl bg-zinc-200 text-gray-800">{{genero.name}}</p>
                </div>
            </div>
        </li>
        <!-- Repetir el elemento li para cada juego en el arreglo games$ -->
    </ul>
</div>
