
<div class="flex h-screen pt-20">
  <div class="w-1/4 bg-gray-100">
    <app-user-list (userSelected)="openChat($event)"></app-user-list>
  </div>
  <div class="w-1/2 bg-white flex flex-col p-4">
    <app-chat *ngIf="selectedUser" [chatUser]="selectedUser" class="flex flex-col h-full"></app-chat>
  </div>
  <div class="w-1/4 bg-gray-100">
    <h2 class="text-lg font-bold py-4 px-6">Información del Usuario</h2>
    <div class="p-4">
      <!-- Aquí se mostraría la información del otro usuario -->
    </div>
  </div>
</div>